<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".Generated.xml" encoding="utf-8" #>
<#@ Assembly Name="System.Core" #>
<#@ Assembly Name="System.Xml" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Xml" #>
<#@ import namespace="System.Xml.Xsl" #>
<?xml version="1.0" encoding="utf-8"?>
<SettingsTemplates>
<#
	var xmlFilesFolder = Host.ResolvePath("../../../MCRA.General/ActionSettingsTemplates/Templates");
	var xmlFiles = Directory.GetFiles(xmlFilesFolder, "*.xml");
	var xwSettings = new XmlWriterSettings {
		OmitXmlDeclaration = true,
		NamespaceHandling = NamespaceHandling.OmitDuplicates,
		Indent = true,
		IndentChars = "\t",
		Encoding = new UTF8Encoding(),
		ConformanceLevel = ConformanceLevel.Auto
	};
	using(var sw = new StringWriter()) {
		foreach(var xmlFile in xmlFiles) {
			var xmlDoc = new XmlDocument();
			xmlDoc.Load(xmlFile);
			using(var xw = XmlWriter.Create(sw, xwSettings)) {
				xmlDoc.WriteTo(xw);
			}
			sw.WriteLine();
		}
		#><#=sw.ToString()#><#
	}
#>

</SettingsTemplates>
